@model EbayView.Models.ViewModel.Shippers.CreateShipperInputModel

<h4> Edit Shipper</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ShipperId" />
            <div class="form-group">
                <label asp-for="ShipperName" class="control-label"></label>
                <input asp-for="ShipperName" class="form-control" />
                <span asp-validation-for="ShipperName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="URL" class="control-label"></label>
                <input asp-for="URL" class="form-control" />
                <span asp-validation-for="URL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            <div>
                <a asp-action="Index" class="btn btn-primary">Back to List</a>
            </div>
        </form>
    </div>
</div>


 
